
 * {
   font-weight: 300;
   line-height: 1.42em;
   font-size: 32px;
   color:#A7A1AE;
   /* background-color:#1F2739; */
   background-color:#ccc;
 }
 #add {
   padding:20px;
   
 }
 #add a{
  font-size: 33px;
 }
 table{
   font-weight:bold;
   width:60%;
   margin:30px auto;
}

.container th{
       font-weight: bold;
       font-size: 1em;
      text-align: left;
      color: #185875;
 }

 .container tr {
       background-color: #323C50;
 }
 
 
 .container th {
       background-color: #3e4a66; 
        color: white;
       padding:20px
 }
 .container td:first-child,#add { color: #FB667A; }
 
 .container tr:hover {
    background-color: #2b364e;
 }
 